<!DOCTYPE HTML>
<html>
<head>
	<title>99M车辆详情页</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="telephone=no" name="format-detection">
	<meta content="false" id="twcClient" name="twcClient">
	<link rel="stylesheet" type="text/css" href="../dist/css/style.css" />
	<link rel="stylesheet" type="text/css" href="../dist/styles/neun-c2fb07f918.css" />
</head>
<body>
	<div class="wrap">
		<header>
			<div class="sub-head">
				<i class="return"></i>
				<h1 class="title">车详页</h1>
				<div class="head-icon">
					<div class="head-search"><i class="icon4"></i></div>
					<div class="inx-visit">
						<i class="icon5"></i>
						<!-- <i class="icon13"></i> -->
					</div>
				</div>
			</div>
		</header>
		<section>
			<div class="detail">
				<div class="news share-top" style="display:none">
					<ul class="share">
						<li><a class="share1" data-cmd="tsina"></a></li>
						<li><a class="share2" data-cmd="sqq"></a></li>
						<li><a class="share3" data-cmd="qzone"></a></li>
						<li><a class="share4" data-cmd="tqq"></a></li>
					</ul>
					<ul class="share-text">
						<li><span>新浪微博</span></li>
						<li><span>QQ好友</span></li>
						<li><span>QQ空间</span></li>
						<li><span>腾讯微博</span></li>
					</ul>
				</div>
				<section>
					<div class="cd-over-banner">
						<div class="image"><img src="../dist/images/cd-over-banner-6d30f2d6c7.jpg" width="100%" /><span class="image-alpha"></span></div>
						<div class="link"><a href="javascript:void(0);">< 往期抢购车辆 ></a></div>
					</div>
				</section>
				<div class="play">
					<div class="cd-rush-logo"><span>10000</span></div>
					<ul class="img-list" style="width:5000px;">
						<li style="width:320px;height:240px;"><img src="./temp/tu1.jpg" width="100%" alt="" /></li>
						<li style="width:320px;height:240px;"><img src="./temp/tu1.jpg" width="100%" alt="" /></li>
					</ul>
					<div class="pagination">
						5<i>/</i>8
					</div>
					<div class="price">
						<span class="num">￥37.8万</span>
						<span class="math">新车价：<i>166.00</i>+<i>14.19</i>(税费)=<i class="og">180.19万</i></span>
					</div>
				</div>
				<section>
					<div class="cd-rush-blocks">
						<div class="top-info">
							<h5 class="title">长城哈弗柴油系列 2008款 2.8T 手动 后驱 B3 豪华型 (国Ⅲ带OBD)</h5>
							<div class="rush-price"><span class="rush-price-text">抢购价：</span><span class="rush-price-num">￥370.80万</span></div>
							<div class="original-price"><span>原价：¥<i>24.80</i>万</span></div>
						</div>
						<div class="new-car-price"><span>新车价：<i>999.98</i>万+<i>40.3</i>万（购置税）=<i>999.98</i>万</span></div>
						<ul class="services">
							<li><span class="name">贷款</span><span class="loan">首付<i>0.00</i>万 月供<i>2343</i>元</span><span class="remark">查看</span></li>
							<li><span class="name purchase-info">抢购资料</span><span class="remark">必填</span></li>
							<li><span class="name">活动介绍</span><span class="remark"></span></li>
						</ul>
						<div class="warm-prompt">
							<h6>温馨提示</h6>
							<p>该车辆位于北京，您当前位置为上海，该车排放标准不包含您当前所在的城市。</p>
						</div>
					</div>
				</section>
				<div class="car-name">
					<div class="name-box" style="display:none">
						<span class="name">北京 迈腾1.8T-A/MT-DSG豪华型京Ⅴ豪华型京Ⅴ(国Ⅳ)</span>
						<span class="collect">
							<i class="collect-off"></i>
							<!-- collect-on -->
							点击收藏
						</span>
					</div>
					<div class="reservation">
						<a href="javascript:void(0)">
							<span class="reserve-name">预约看车即提供免费接驾服务</span>
							<i class="ico-reserve"></i>
						</a>
					</div>
					<div class="detail-loan">
						<span class="detail-loan-til">99好车贷</span>
						<div class="detail-loan-txt">
							首付 <i>7.25</i> 万，仅需两证一卡
							<i class="link-ico"></i>
						</div>
					</div>
					<div class="car-coupon">
						<em class="tag">限时特惠</em>
						<span class="cost">原价37.8万</span>
						<span class="count-down"><i class="funnel">距离结束还有2天15小时30分</i></span>
					</div>
				</div>
				
				<div class="module-box detail-tabs">
					<div class="tabs-title">
						<span class="active"><i class="fl">99保障</i></span>
						<span><i class="fr">服务承诺</i></span>
					</div>
					<div class="tabs-main">
						<span class="icon6">检车承诺</span>
						<span class="icon6">质保承诺</span>
						<span class="icon6">退换承诺</span>
						<span class="icon6">代办过户转籍</span>
						<span class="icon6">代办验车</span>
						<span class="icon6">代办上牌</span>
						<span class="icon6">可贷款购车</span>
					</div>
					<div class="tabs-main" style="display:none;">
						<div class="syatem">
							<span>99服务承诺体系</span>
						</div>
						<div class="syatem-m">
							<p class="s-til">99好车商城的车源均遵守四项基础服务承诺：</p>
							<ul>
								<li>承诺在商城内展示的车辆均为真实在售车辆</li>
								<li>承诺在商城内展示的车辆均为真实在售车辆</li>
								<li>承诺在商城内展示的车辆均为真实在售车辆</li>
								<li>承诺在商城内展示的车辆均为真实在售车辆</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="coupon-img">
					<img src="./images/ad.png" width="100%" alt="" />
				</div>
				<div class="module-box detail-tabs">
					<div class="baozhang">
						<div class="bz-fl">
							<span>99</span>
							<span>保障</span>
						</div>
						<div class="bz-fr">
							<span class="icon6">检车承诺</span>
							<span class="icon6">质保承诺</span>
							<span class="icon6">退换承诺</span>
							<span class="icon6">代办过户转籍</span>
							<span class="icon6">代办验车</span>
							<span class="icon6">代办上牌</span>
							<span class="icon6">可贷款购车</span>
						</div>
					</div>
				</div>
				<div class="pledge-call">
					<span class="pledge-fl">99服务保障</span>
					<span class="pledge-fr"><i class="icon9"></i>看车有疑虑？99好车来帮您！</span>
				</div>
				<div class="module-box">
					<div class="module-title"><h4><i class="ico5"></i>车源概况</h4></div>
					<div class="module-main">
						<div class="param">
							<ul>
								<li>车辆编号<span>4128999</span></li>
								<li>归属地<span>北京</span></li>
								<li>车辆级别<span>中型车</span></li>
							</ul>
							<ul>
								<li>首次上牌<span>2011.1</span></li>
								<li>排放标准<span>国IV</span></li>
								<li>车身颜色<span>蓝色</span></li>
							</ul>
							<ul>
								<li>行驶里程<span>2.9万公里</span></li>
								<li>燃油种类<span>汽油</span></li>
								<li>交强险到期时间<span>2015.3</span></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="module-box no-bor">
					<div class="module-zhijian">
						99质检报告
						<i class="icon-help"></i>
					</div>
					<div class="module-main">
						<ul class="test-list">
							<li class="test-main">
								<div class="grade">
									<img src="./images/zb-icoa.png" width="100%" alt="" />
									<!-- <img src="./images/zb-icob1.png" width="100%" alt="" /> -->
									<!-- <img src="./images/zb-icob2.png" width="100%" alt="" /> -->
									<!-- <img src="./images/zb-icob3.png" width="100%" alt="" /> -->
									<!-- <img src="./images/zb-icoc.png" width="100%" alt="" /> -->
								</div>
								<div class="number">
									<p><span>质检编号：</span>40231232</p>
									<p><span>质检时间：</span>2015年2月3日</p>
									<p><span>评估师：</span>孟桐</p>
								</div>
							</li>
							<li>
								<div class="test-box">
									<em>结构检测</em>
									<span class="ico-on">非事故车、非火烧车、非浸水车</span>
								</div>
								<div class="electric-popup">
									<i class="electric-trian"></i>
									<span>问题问题</span>
									<span>问题问题</span>
									<span>问题问题问题问题问题问题</span>
									<span>问题问题</span>
									<span>问题问题</span>
									<span>问题问题</span>
									<span>问题问题</span>
									<span>问题问题</span>
								</div>
							</li>
							<li>
								<div class="test-box">
									<em>外观检测</em><span class="ico-off">3处喷漆、2处钣金</span>
								</div>
								<div class="electric-popup">
									<i class="electric-trian"></i>
									<span>问题问题</span>
									<span>问题问题</span>
									<span>问题问题问题问题问题问题</span>
									<span>问题问题</span>
									<span>问题问题</span>
									<span>问题问题</span>
									<span>问题问题</span>
									<span>问题问题</span>
								</div>
							</li>
							<li>
								<div class="test-box">
									<em>安全检测</em><span class="ico-off">2项 异常</span>
								</div>
								<div class="electric-popup">
									<i class="electric-trian"></i>
									<span>问题问题</span>
									<span>问题问题</span>
									<span>问题问题问题问题问题问题</span>
									<span>问题问题</span>
									<span>问题问题</span>
									<span>问题问题</span>
									<span>问题问题</span>
									<span>问题问题</span>
								</div>
							</li>
							<li>
								<div class="test-box">
									<em>电器检测</em><span class="ico-off">1项 异常</span>
								</div>
								<div class="electric-popup">
									<i class="electric-trian"></i>
									<span>问题问题</span>
									<span>问题问题</span>
									<span>问题问题问题问题问题问题</span>
									<span>问题问题</span>
									<span>问题问题</span>
									<span>问题问题</span>
									<span>问题问题</span>
									<span>问题问题</span>
								</div>
							</li>
							<li>
								<div class="test-box">
									<em>操控性检测</em><span class="ico-off">1项 异常</span>
								</div>
								<div class="electric-popup">
									<i class="electric-trian"></i>
									<span>问题问题</span>
									<span>问题问题</span>
									<span>问题问题问题问题问题问题</span>
									<span>问题问题</span>
									<span>问题问题</span>
									<span>问题问题</span>
									<span>问题问题</span>
									<span>问题问题</span>
								</div>
							</li>
						</ul>
						<div class="entirety">
							<span>整体评价：</span>基督教啊肯定了进口量的角度讲法律卡萨将分类考试的减肥考虑到刷积分少打了卡积分第三款龙卷风第三款龙卷风的开始大饭店了减肥抵抗力。
						</div>
						<div class="module-zb">
							<div class="module-zb-title">
								<span>车身结构检测</span>
							</div>
							<div class="zb-tabs">
								<p>1.非事故车排查</p>
								<div class="zb-tabs-til tabs-1">
									<span>车头</span>
									<span>侧面</span>
									<span>底部</span>
								</div>
								<div class="gz-img">
									<img src="./images/gz1.jpg" width="100%" alt="" />
									<img src="./images/gz2.jpg" width="100%" alt="" />
									<img src="./images/gz3.jpg" width="100%" alt="" />
								</div>
								<div class="gz-text">
									<span>2.非火烧车排查<i class="ico-on"></i></span>
									<span>3.非火烧车排查<i class="ico-on"></i></span>
								</div>
								<div class="entirety">
									<span>异常描述：</span>此车左C柱、右B柱、底板边均有轻微损伤，但不影响整体架构。
								</div>
							</div>
							<div class="module-zb-title">
								<span>外观检测</span>
							</div>
							<div class="car-flat">
								<div class="flat-til">
									<span class="n1"></span>
									<span class="n2">P 喷漆</span>
									<span class="n2">JP 钣金喷漆</span>
									<span class="n2">A 凹陷</span>
									<span class="n2">H 划痕</span>
								</div>
								<div class="puzzle">
									<i class="puzzle-img car1-1"><em>JP</em></i>
									<i class="puzzle-img car2"><em>JP</em></i>
									<i class="puzzle-img car3-1"><em>JP</em></i>
									<i class="puzzle-img car4"><em>JP</em></i>
									<i class="puzzle-img car5-1"><em>JP</em></i>
									<i class="puzzle-img car6"><em>JP</em></i>
									<i class="puzzle-img car7"><em>JP</em></i>
									<i class="puzzle-img car8"><em>JP</em></i>
									<i class="puzzle-img car9"><em>JP</em></i>
									<i class="puzzle-img car10"><em>JP</em></i>
									<i class="puzzle-img car11"><em>JP</em></i>
									<i class="puzzle-img car12"><em>JP</em></i>
									<i class="puzzle-img car13"><em>JP</em></i>
								</div>
								<div class="entirety" id="visualError">
									<span>异常描述：</span>
									<div class="entirety-txt">
										<ul>
											<li>车顶：早睡早起行吗,</li>
											<li>右前翼子板：语音咯过些日子我自己做咯路由器郁闷做加油咯go,</li>
											<li>右后翼子板：伤心咯可有可无小破孩哦哦吉祥如意金口玉言咯啊你OK努力学习加油咯咯,</li>
										</ul>
										
									</div>
								</div>
							</div>
							<div class="module-zb-title">
								<span>安全性检测</span>
							</div>
							<div class="car-test">
								<ul class="car-test-box">
									<li>
										<p class="til">1.液体检查</p>
										<div class="flex-box">
											<div class="img"><i class="zb-ico zb-ico1"></i></div>
											<div class="txt">
												<p class="ico-on1">
													发动机润滑油油位 正常
												</p>
												<p class="ico-off1">变速箱油位 异常</p>
												<p class="ico-on1">冷却液液面 正常</p>
											</div>
										</div>
										<div class="entirety">
											<span>异常描述：</span>变速箱AT油位有问题xxxxxxx
										</div>
									</li>
									<li>
										<p class="til">2.防火隐患排查</p>
										<div class="flex-box">
											<div class="img"><i class="zb-ico zb-ico2"></i></div>
											<div class="txt pad">
												<p class="ico-on1">
													燃油管路 正常
													<span>无渗漏痕迹 、无老化破损</span>
												</p>
											</div>
										</div>
									</li>
									<li>
										<p class="til">3.轮胎胎压检测</p>
										<div class="flex-box">
											<div class="img"><i class="zb-ico zb-ico3"></i></div>
											<div class="txt pad">
												<p class="ico-off1">
													胎压 异常
												</p>
											</div>
										</div>
										<div class="entirety">
											<span>异常描述：</span>右后侧胎压不足，其它三只胎压正常
										</div>
									</li>
									<li>
										<p class="til">4.制动系统检测</p>
										<div class="flex-box">
											<div class="img"><i class="zb-ico zb-ico4"></i></div>
											<div class="txt">
												<p class="ico-on1">
													制动系统 正常
													<span>管路无渗漏痕迹</span>
													<span>管路无老化现象</span>
													<span>制动液在安全线以上</span>
												</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="module-zb-title">
								<span>电器检测</span>
							</div>
							<div class="electric">
								<ul>
									<li>
										<div class="electric-main">
											<span class="fl">蓄电池检查</span>
											<span class="ico-on">正常</span>
										</div>
									</li>
									<li>
										<div class="electric-main">
											<span class="fl">蓄电池电压、发电电压检查</span>
											<span class="ico-on">正常</span>
										</div>
									</li>
									<li>
										<div class="electric-main">
											<span class="fl">空调系统检查</span>
											<span class="ico-on">正常</span>
										</div>
									</li>
									<li>
										<div class="electric-main">
											<span class="fl">座椅系统功能</span>
											<span class="ico-on">正常</span>
										</div>
									</li>
									<li>
										<div class="electric-main">
											<span class="fl">后窗除霜功能检查</span>
											<span class="ico-on">正常</span>
										</div>
									</li>
									<li>
										<div class="electric-main">
											<span class="fl">雨刮片擦拭效果</span>
											<span class="ico-on">正常</span>
										</div>
									</li>
									<li>
										<div class="electric-main">
											<span class="fl">音响系统、喇叭检查</span>
											<span class="ico-on">正常</span>
										</div>
									</li>
									<li>
										<div class="electric-main">
											<span class="fl">全车灯光检查</span>
											<span class="ico-off">异常</span>
										</div>
										<div class="electric-popup">
											<i class="electric-trian"></i>
											<span>异常描述：</span>左后刹车灯有问题的发顺丰的打发斯蒂芬xxxxxxxxxxxxxxxxxxx
										</div>
									</li>
									<li>
										<div class="electric-main">
											<span class="fl">四门玻璃、天窗及遮阳板检查</span>
											<span class="ico-on">正常</span>
										</div>
									</li>
									<li>
										<div class="electric-main">
											<span class="fl">仪表显示检查</span>
											<span class="ico-on">正常</span>
										</div>
									</li>
								</ul>
							</div>
							<div class="module-zb-title">
								<span>行驶性能检测</span>
							</div>
							<div class="travel">
								<div class="travel-box">
									<img src="./images/qd.png" width="100%" alt="" />
									<div class="travel-text">
										<p class="ico-on1">启动马达功能</p>
										<p class="ico-on1">启动性能</p>
										<p class="ico-off1">发动机皮带及涨紧轮 异常</p>
										<p class="ico-off1">存储器故障码检测 异常</p>
										<p class="ico-on1">怠速稳定性</p>
									</div>
									<div class="travel-error">
										<span>异常描述：</span>
										<p>发动机皮带及涨紧轮 异常 —— 的减肥的减肥了看电视剧了。</p>
										<p>存储器故障码检测 异常 —— 交罚款了敬爱可浪费就撒娇</p>
									</div>
								</div>
								<div class="travel-box">
									<img src="./images/xs.png" width="100%" alt="" />
									<div class="travel-text">
										<p class="ico-on1">传动系统、连接</p>
										<p class="ico-on1">悬挂球头及防尘套</p>
										<p class="ico-on1">传动轴</p>
										<p class="ico-on1">变速器稳定性</p>
										<p class="ico-on1">油门响应</p>
									</div>
								</div>
								<div class="travel-box">
									<img src="./images/zw.png" width="100%" alt="" />
									<div class="travel-text">
										<p class="ico-off1">转向性能 异常</p>
										<p class="ico-on1">转向系统管路无渗漏、连接良好、助力油位置在安全线以上</p>
									</div>
									<div class="travel-error">
										<span>异常描述：</span>
										<p>转向性能 异常 —— 此车转向力不足阿斯顿发拉卡机的房间里</p>
									</div>
								</div>
								<div class="travel-box">
									<img src="./images/zd.png" width="100%" alt="" />
									<div class="travel-text">
										<p class="ico-off1">转向性能 异常</p>
										<p class="ico-on1">转向系统管路无渗漏、连接良好、助力油位置在安全线以上</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="module-box">
					<div class="module-title"><h4><i class="icon8"></i>本店同类别车源推荐</h4></div>
					<div class="module-main detail-similar">
						<div class="car-list-box">
							<ul>
								<li>
									<div class="img">
										<img src="./temp/tu1.jpg" width="100%" alt="">
									</div>
									<div class="txt">
										<h4 class="til">奥迪A6L 2009款 2.4L 自动技术型(国Ⅳ)自动技术型</h4>
										<div class="txt-price">
											<span class="fl">￥300.00万</span>
											<span class="fr">1.3万公里<i>|</i>2011年</span>
										</div>
										<div class="txt-server">
											<i class="jian"></i>
											<i class="bao"></i>
											<i class="tui"></i>
											<i class="zhuan"></i>
											<i class="yan"></i>
											<i class="pai"></i>
											<i class="dai"></i>
										</div>
									</div>
								</li>
								<li>
									<i class="sp-ico"></i>
									<div class="img">
										<img src="./temp/tu1.jpg" width="100%" alt="">
									</div>
									<div class="txt">
										<h4 class="til">奥迪A6L 2009款 2.4L 自动技术型(国Ⅳ)自动技术型</h4>
										<div class="txt-price">
											<span class="fl">￥300.00万</span>
											<span class="fr">1.3万公里<i>|</i>2011年</span>
										</div>
										<div class="txt-server">
											<i class="jian"></i>
											<i class="bao"></i>
											<i class="tui"></i>
											<i class="zhuan"></i>
											<i class="yan"></i>
											<i class="pai"></i>
											<i class="dai"></i>
										</div>
									</div>
								</li>
							</ul>
							<div class="car-list-more">
								<div class="glb-whole-btn">
									更多车源
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="module-box">
					<div class="module-title"><h4><i class="icon7"></i>车源描述</h4></div>
					<div class="module-main detail-des">
						<p class="txt">所售车辆都是在全国范围内精挑细选的准新二手车，每辆车都严格把关，多重检测，保证无大小事故，公里数保真，每辆车都可到4S店检测、鉴定，购车即享一年或两万公里质保。本公司车辆支持置换，并提供二手车分期业务，首付30%-50%，贷期1-3年，车型广，费用省，速度快，额度高，敬请放心选购！越懂汽车越信方圆名车，买卖精品准新二手车首选方圆名车。</p>
						<p>收购评估电话：13526625800</p>
						<p>更多详情请添加微信号2596868877</p>
						<p class="hint">联系我时，请说是在第一车网99好车看到的，谢谢！</p>
					</div>
				</div>
				<div class="module-box">
					<div class="module-title"><h4><i class="ico7"></i>买家评价</h4></div>
					<div class="module-main detail-user">
						<div class="evaluate">
							<span>
								<i class="til">车辆评分</i>
								<i class="five"></i>
								<i class="five"></i>
								<i class="five"></i>
								<i class="five"></i>
								<i class="five-gray"></i>
							</span>
							<span>
								<i class="til">服务评分</i>
								<i class="five"></i>
								<i class="five"></i>
								<i class="five"></i>
								<i class="five"></i>
								<i class="five"></i>
							</span>
						</div>
						<p class="txt">车挺好，开到朋友的修配厂看了，一点问题没有，还价格后，节省了1000多块，老板也很热心，帮我更好的了解了这款车，感谢99好车。十分开心的一次购物体验</p>
						<img class="img" src="./temp/tu1.jpg" width="100%" alt="" />
						<h4 class="title">北京 迈腾1.8T-A/MT-DSG豪华型京Ⅴ(国Ⅳ)</h4>
						<div class="para">
							<span>2011年1月上牌</span>
							<span>2.9万公里</span>
							<span>37.8万元</span>
						</div>
						<div class="user-time">
							<span class="user"><i>孟先生</i>（186****9961）</span>
							<span class="time"><i>购买时间：</i>2014.1.13</span>
						</div>
					</div>
				</div>
				<div class="module-box">
					<div class="module-title"><h4><i class="icon8"></i>经销商信息</h4></div>
					<div class="module-main detail-dealer">
						<div class="dl">
							<dl>
								<dt>名称：</dt>
								<dd>上海华驭二手机动车经营有限公司</dd>
							</dl>
							<dl>
								<dt>地址：</dt>
								<dd>宁波市江东区江南路99号九州公运二手车市场正对面</dd>
							</dl>
						</div>
						<div class="map-click" id="view_map">
							<i class="map-ico"></i>
							<i>查看地图</i>
							<i class="icon2"></i>
						</div>
						<div class="param">
							<ul>
								<li>在售车源<span>130辆</span></li>
								<li>车源综合评分<span>5分</span></li>
							</ul>
							<ul>
								<li>最近30天成交<span>90辆</span></li>
								<li>服务综合评分<span>5分</span></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="module-box">
					<div class="module-title"><h4><i class="ico7"></i>已售车源评价</h4><div class="more">查看更多用户评价<i class="ico4"></i></div></div>
					<div class="module-main evaluate-list">
						<ul style="width:5000px;">
							<li style="width:320px;">
								<div class="img"><img src="./temp/tu1.jpg" width="100%" alt=""></div>
								<div class="txt">
									<p class="text">车挺好，开到朋友的修配厂看了，一点问题没有，还价格后盖，节省了1万多块…车挺好，开到朋友的修配厂看了，一点问题没有，还价格后盖，节省了1万多块…</p>
									<div class="text-det">
										<span class="wz">2014年11月孟先生购买</span>
										<span class="det">详细<i class="ico8"></i></span>
									</div>
								</div>
							</li>
							<li style="width:320px;">
								<div class="img"><img src="./temp/tu1.jpg" width="100%" alt=""></div>
								<div class="txt">
									<p class="text">车挺好，开到朋友的修配厂看了，一点问题没有，还价格后盖，节省了1万多块…车挺好，开到朋友的修配厂看了，一点问题没有，还价格后盖，节省了1万多块…</p>
									<div class="text-det">
										<span class="wz">2014年11月孟先生购买</span>
										<span class="det">详细<i class="ico8"></i></span>
									</div>
								</div>
							</li>
							<li style="width:320px;">
								<div class="img"><img src="./temp/tu1.jpg" width="100%" alt=""></div>
								<div class="txt">
									<p class="text">就一个字，值！</p>
									<div class="text-det">
										<span class="wz">2014年11月孟先生购买</span>
										<span class="det">详细<i class="ico8"></i></span>
									</div>
								</div>
							</li>
						</ul>
						<div class="pagination">
							<span class="current"></span>
							<span></span>
							<span></span>
						</div>
					</div>
				</div>
				<div class="module-box detail-tabs">
					<div class="tabs-title">
						<span class="active"><i class="fl">同价格</i></span>
						<span><i class="fr">同车系</i></span>
					</div>
					<div class="module-main car-list">
						<ul>
							<li>
								<div class="list-box">
									<img src="./temp/tu1.jpg" width="100%" alt="">
									<div class="list-text">
										<p>宝马系宝马系宝马系宝</p>
										<div class="car-price-date">
											<span class="car-price">￥<em>5.80</em>万</span>
											<span class="car-date">2011年</span>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="list-box">
									<img src="./temp/tu1.jpg" width="100%" alt="">
									<div class="list-text">
										<p>宝马系宝马系宝马系宝</p>
										<div class="car-price-date">
											<span class="car-price">￥<em>5.80</em>万</span>
											<span class="car-date">2011年</span>
										</div>
									</div>
								</div>
							</li>
						</ul>
						<ul>
							<li>
								<div class="list-box">
									<img src="./temp/tu1.jpg" width="100%" alt="">
									<div class="list-text">
										<p>宝马系宝马系宝马系宝</p>
										<div class="car-price-date">
											<span class="car-price">￥<em>5.80</em>万</span>
											<span class="car-date">2011年</span>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="list-box">
									<img src="./temp/tu1.jpg" width="100%" alt="">
									<div class="list-text">
										<p>宝马系宝马系宝马系宝</p>
										<div class="car-price-date">
											<span class="car-price">￥<em>5.80</em>万</span>
											<span class="car-date">2011年</span>
										</div>
									</div>
								</div>
							</li>
						</ul>
						<ul>
							<li>
								<div class="list-box">
									<img src="./temp/tu1.jpg" width="100%" alt="">
									<div class="list-text">
										<p>宝马系宝马系宝马系宝</p>
										<div class="car-price-date">
											<span class="car-price">￥<em>5.80</em>万</span>
											<span class="car-date">2011年</span>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="list-box">
									<img src="./temp/tu1.jpg" width="100%" alt="">
									<div class="list-text">
										<p>宝马系宝马系宝马系宝</p>
										<div class="car-price-date">
											<span class="car-price">￥<em>5.80</em>万</span>
											<span class="car-date">2011年</span>
										</div>
									</div>
								</div>
							</li>
						</ul>
						<div class="glb-whole-btn">
							更多车源
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- 2016-07-10 -->
		<ul class="cd-bottom-tags">
			<li class="contact-us"><a href="tel:400-822-0319">400-822-0319</a></li>
			<li class="appointment"><span>预约看车</span></li>
			<li class="act-countDown">
				<h6 class="title">开抢时间</h6>
				<div><span class="date">2016-05-30</span><span class="time">10:00:00</span></div>
			</li>
		</ul>
		<div class="alpha" style="display:none"></div>
		<div class="cd-rush-state cd-rush-hintbox" style="display:none">
			<h6 class="title">抢购活动说明</h6>
			<ul class="items">
				<li>１、抢购前必须先填写手机号，提前确定抢购车源地区；</li>
				<li>２、成功抢购车源后需在15分钟内支付1000元定金，否则车辆重新加入抢购。该定金将在购车时抵扣车款；</li>
				<li>３、预付定金后我们会在1 个工作日内与您取得联系；</li>
				<li>４、抢购成功者需在7天内看车并提车，否则失去活动资格；</li>
				<li>５、抢购车源平均每7天一辆，敬请关注。</li>
				<li>6、本次活动的最终解释权归99好车所有。</li>
			</ul>
			<div class="button"><span class="confirm-btn">确定</span></div>
		</div>
		<div class="cd-rush-verification cd-rush-hintbox">
			<h6 class="title">请输入验证码</h6>
			<div class="verification-code">
				<input type="text" placeholder="输入验证码" />
				<span class="code">3526</span>
				<input type="button" value="换一张" />
			</div>
			<div class="button"><span class="cancel-btn">取消</span><span class="confirm-btn">确定</span></div>
		</div>
		<div class="cd-rush-success cd-rush-hintbox" style="display:none">
			<h6 class="title">提示</h6>
			<p class="text">抱歉，车被别人抢走了</p>
			<div class="button"><span class="confirm-btn">确定</span></div>
		</div>
		<!-- 2016-07-10 end -->
		<div class="tel-fixed bg-alpha" style="display:none">
			<span class="tel-call">致电</span>
			<span class="tel-icon">预约服务</span>
			<span class="tel-server">立即购买</span>
		</div>
		<div class="tel-fixed bg-alpha tel-sold" style="bottom:25%;display:none">
			<span class="tel-txt">此车已售</span>
			<span class="tel-server">点击查看更多车源</span>
		</div>
		<div class="tel-fixed" style="display:none">
			<span class="fixed-btn detail-call"><i class="icon9"></i>了解更多</span>
			<span class="fixed-btn detail-make"><i class="icon10"></i>一键预约专属服务</span>
		</div>
		<div class="tel-fixed" style="display:none">
			<div class="tel-gift">
				<i class="icon27"></i>到店有礼！即刻领取99质保
			</div>
		</div>
		<div class="tel-fixed tel-sold" style="display:none">
			<span class="sold">此车已售</span>
			<span class="fixed-btn detail-make">点击查看更多同类车源</span>
		</div>
		<footer>
			<ul>
				<li>
					<span class="logo-99haoche"></span>
					<span class="foot-pc">电脑版</span>
				</li>
				<li>
					<span class="logo-iautos"></span>
					<span class="foot-phone">手机版</span>
				</li>
			</ul>
			<!-- <p>联系电话：400-666-1612</p> -->
			<div class="foot-nav">
				<a href="#">联系我们</a>
				<a href="#">关于我们</a>
				<a href="#">意见反馈</a>
			</div>
			<p class="gray">99好车 放心GO 有保证</p>
		</footer>
		<div class="alpha" style="display:none;"></div>
		<div class="question-center">
			<div class="popup-text server99" style="display:none;">
				<div class="popup-title">
					<h4>99质检报告</h4>
					<i class="popup-del"></i>
				</div>
				<div class="popup-main">
					<p>“99质检”是99好车官方推出的针对99商城在售二手车的质检标准。
在传统的车商检测评估并上线销售前，我们增加了“复检”的环节——即“99质检”。
所有99好车商城在售的车辆，除经过车商评估监测外，均经过99好车评估师们的严苛把关；共计99步检测流程，细致入微；并为您梳理呈现每辆车的“99质检报告”，力求真实可靠，去冗从简，清楚明白。</p>
					<p class="cen">您所关心的，亦是我们所关注的</p>
				</div>
			</div>
			<div class="popup-text server99" style="display:none;">
				<div class="popup-title">
					<h4>99服务承诺</h4>
					<i class="popup-del"></i>
				</div>
				<div class="popup-main">
					<p class="til">99服务承诺体系</p>
					<p>99好车商城的车源均遵守四项基础服务承诺：承诺无承诺真实库存；承诺车辆来源合法；承诺无火烧车、水泡车、营运车、重大事故车辆及重大部件更换车辆；承诺如实描述（车辆原始信息与展示信息一致、保证可过户，车辆手续证件齐全、承诺实车照片）；以及按各商户和车辆的不同提供若干附加服务承诺，保障消费者的购车权益；</p>
					<p class="til">99优质商家入驻体系</p>
					<p>入驻商城的商户均经过了严格的审查和验证并交付保证金，确保车源的真实性、可靠性，杜绝出现虚假车源信息、车源与现实不符的信息、水泡车、重大事故车等损害消费者权益的车源信息，确保交易诚信。</p>
				</div>
			</div>
			<div class="popup-text" style="display:none;">
				<div class="popup-title">
					<h4>预约看车</h4>
					<i class="popup-del"></i>
				</div>
				<div class="popup-main">
					<div class="pad-1">
						<p class="icon11 mg10">填写手机号立即完成预约！</p>
						<form action="#">
							<input type="text" class="text mg10" placeholder="请输入手机号" />
							<input type="button" class="glb-whole-btn" value="确定" />
						</form>
					</div>
				</div>
			</div>
			<div class="popup-text" style="display:none;">
				<div class="popup-title">
					<h4>预约看车</h4>
					<i class="popup-del"></i>
				</div>
				<div class="popup-main">
					<div class="pad-1 pad-2">
						<p class="icon11 mg10">填写手机号立即完成预约！</p>
						<form action="#">
							<input type="text" class="text mg10" placeholder="请输入手机号" />
							<input type="text" class="text mg10" placeholder="请输入验证码" />
							<div class="two-btn">
								<i class="glb-whole-btn gray">60秒后重新获取</i>
								<input type="button" class="glb-whole-btn" value="完成预约" />
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="popup-text" style="display:none;">
				<div class="popup-title">
					<h4>预约看车</h4>
					<i class="popup-del"></i>
				</div>
				<div class="popup-main">
					<div class="pad-2">
						<p class="icon11 mg10">填写手机号立即完成预约！</p>
						<form action="#">
							<input type="text" class="text mg10" placeholder="请输入手机号" />
							<input type="text" class="text mg10" placeholder="请输入验证码" />
							<p class="hint">验证码输入有误！请重新输入</p>
							<div class="two-btn">
								<i class="glb-whole-btn gray gray1">重发验证码</i>
								<input type="button" class="glb-whole-btn" value="完成预约" />
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="popup-text" style="display:none;">
				<div class="popup-title">
					<h4>预约看车</h4>
					<i class="popup-del"></i>
				</div>
				<div class="popup-main">
					<div class="pad-1 pad-3">
						<div class="center">
							<p class="icon12 mg10">预约成功！</p>
							<p>稍后您的专属客服将会给您致电！</p>
						</div>
					</div>
				</div>
			</div>
			<div class="popup-text" style="display:none;">
				<div class="popup-title">
					<h4>预约看车</h4>
					<i class="popup-del"></i>
				</div>
				<div class="popup-main">
					<div class="pad-1 pad-3">
						<div class="center">
							<p class="mg10 fz12">您已经预约过啦,有任何问题欢迎致电！</p>
							<i class="glb-whole-btn">400-380-0695</i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="login-popup" style="display:none;">
			<ul>
				<li><i class="icon14"></i>首页</li>
				<li><i class="icon15"></i>收藏夹</li>
				<li><i class="icon16"></i>浏览记录</li>
				<li><i class="icon17"></i>99质保</li>
				<li><i class="icon18"></i>联系我们</li>
				<li><i class="icon28"></i>意见反馈</li>
				<li><i class="icon19"></i>关于我们</li>
			</ul>
		</div>
	</div>
</body>
</html>