<!DOCTYPE HTML>
<html>
<head>
	<title>99M首页</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="telephone=no" name="format-detection">
	<meta content="false" id="twcClient" name="twcClient">
	<link rel="stylesheet" type="text/css" href="../dist/css/style.css" />
	<link rel="stylesheet" type="text/css" href="../dist/styles/neun-592856d94e.min.css" />
</head>
<body>
	<div class="wrap">
		<header>
			<div class="index-head">
				<h1><img src="../images/logo.png" width="66" height="22" alt="" class="logo"></h1>
				<div class="head-area">北京<i class="arrow-down"></i></div>
				<div class="head-icon">
					<div class="head-search"><i class="ico1"></i></div>
					<div class="inx-visit"><i class="ico2"></i></div>
				</div>
			</div>
		</header>
		<section>
			<div class="index-box">
				<div class="banner">
					<ul class="banner-img clearfix" style="width:640px;height:122px;">
						<li style="width:320px;height:122px;"><img src="../images/banner1.jpg" width="100%" alt="" /></li>
						<li style="width:320px;height:122px;"><img src="../images/banner1.jpg" width="100%" alt="" /></li>
					</ul>
					<div class="pagination">
						<span class="current"></span>
						<span></span>
					</div>
				</div>
				<nav>
					<ul>
						<li><em><i class="icon1"></i></em><span>最新车源</span></li>
						<li><em><i class="icon2"></i></em><span>专家问答</span></li>
						<li><em><i class="icon3"></i></em><span>买家评价</span></li>
						<li><em><i class="icon4"></i></em><span>个人中心</span></li>
					</ul>
				</nav>

				<section id="hpRushPurchase">
					<div class="hp-rush-purchase">
						<div class="up">
							<div class="image"><img src="../dist/images/rush-e788a8d163.png" width="100%" /><span class="image-alpha"></span></div>
							<div class="counting" style="display:none"><span>03</span><i>天</i><span>06</span><i>小时</i><span>21</span><i>分</i></div>
							<p class="end" style="display:none">已抢完，请期待下期抢购</p>
							<div class="ing"><span class="text1">抢购</span><span class="text2">进行中</span></div>
						</div>
						<ul class="hp-rush-list">
							<li class="clean">
								<span class="area">上海</span>
								<div class="image"><img src="../dist/images/car-42ae099fdd.png" width="100%" /><span class="image-alpha"></span></div>
								<div class="right-info">
									<h6 class="title">别克GL8 2.4L 手自一体 LT豪华商 务行政 2011款 7座</h6>
									<div class="prices"><span class="new"><i>17.8</i>万元</span><span class="old">24.8万元</span></div>
									<div class="lightspot"><span>直降3000</span></div>
									<div class="lightspot-disabled" style="display:none"><span>直降3000</span></div>
								</div>
							</li>
						</ul>
					</div>
				</section>

				<div class="module-box time-coupon">
					<div class="time-title">
						<span class="time-ico">限时特惠</span>
						<span class="count-down"><i class="funnel">距离结束还有2天15小时30分</i></span>
					</div>
					<div class="time-main">
						<img src="./temp/tu2.jpg" width="100%" alt="" />
					</div>
				</div>
				<div class="module-box">
					<div class="module-title">
						<h4><i class="ico3"></i>热门价格</h4>
						<div class="more">更多<i class="ico4"></i></div>
					</div>
					<div class="module-main hot-price">
						<ul>
							<li>3-5万</li>
							<li>5-10万</li>
							<li>10-15万</li>
							<li>15-20万</li>
							<li>20-25万</li>
							<li>25-35万</li>
						</ul>
					</div>
				</div>
				<div class="module-box">
					<div class="module-title">
						<h4><i class="ico5"></i>热门价格</h4>
					</div>
					<div class="module-main car-list">
						<ul>
							<li>
								<div class="list-box">
									<img src="./temp/tu1.jpg" width="100%" alt="">
									<div class="list-text">
										<p class="car-name">宝马系宝马系宝马系宝</p>
										<div class="car-price-date">
											<span class="car-price">￥<em>5.80</em>万</span>
											<span class="car-date">2011年</span>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="list-box">
									<img src="./temp/tu1.jpg" width="100%" alt="">
									<div class="list-text">
										<p class="car-name">宝马系宝马系宝马系宝</p>
										<div class="car-price-date">
											<span class="car-price">￥<em>5.80</em>万</span>
											<span class="car-date">2011年</span>
										</div>
									</div>
								</div>
							</li>
						</ul>
						<ul>
							<li>
								<div class="list-box">
									<img src="./temp/tu1.jpg" width="100%" alt="">
									<div class="list-text">
										<p class="car-name">宝马系宝马系宝马系宝</p>
										<div class="car-price-date">
											<span class="car-price">￥<em>5.80</em>万</span>
											<span class="car-date">2011年</span>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="list-box">
									<img src="./temp/tu1.jpg" width="100%" alt="">
									<div class="list-text">
										<p class="car-name">宝马系宝马系宝马系宝</p>
										<div class="car-price-date">
											<span class="car-price">￥<em>5.80</em>万</span>
											<span class="car-date">2011年</span>
										</div>
									</div>
								</div>
							</li>
						</ul>
						<ul>
							<li>
								<div class="list-box">
									<img src="./temp/tu1.jpg" width="100%" alt="">
									<div class="list-text">
										<p class="car-name">宝马系宝马系宝马系宝</p>
										<div class="car-price-date">
											<span class="car-price">￥<em>5.80</em>万</span>
											<span class="car-date">2011年</span>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="list-box">
									<img src="./temp/tu1.jpg" width="100%" alt="">
									<div class="list-text">
										<p class="car-name">宝马系宝马系宝马系宝</p>
										<div class="car-price-date">
											<span class="car-price">￥<em>5.80</em>万</span>
											<span class="car-date">2011年</span>
										</div>
									</div>
								</div>
							</li>
						</ul>
						<div class="glb-whole-btn">
							更多热门车源
						</div>
					</div>
				</div>
				<div class="module-box">
					<div class="module-title">
						<h4><i class="ico6"></i>热门品牌</h4>
						<div class="more">更多<i class="ico4"></i></div>
					</div>
					<div class="module-main hot-brand">
						<ul>
							<li><i class="brand1"></i><span>大众</span></li>
							<li><i class="brand2"></i><span>奥迪</span></li>
							<li><i class="brand3"></i><span>宝马</span></li>
							<li><i class="brand4"></i><span>丰田</span></li>
							<li><i class="brand5"></i><span>奔驰</span></li>
							<li><i class="brand6"></i><span>别克</span></li>
							<li><i class="brand7"></i><span>本田</span></li>
							<li><i class="brand8"></i><span>日产</span></li>
							<li><i class="brand9"></i><span>现代</span></li>
							<li><i class="brand10"></i><span>福特</span></li>
							<li><i class="brand11"></i><span>雪弗兰</span></li>
							<li><i class="brand12"></i><span>马自达</span></li>
						</ul>
					</div>
				</div>
				<div class="module-box">
					<div class="module-title">
						<h4><i class="ico7"></i>买家评价</h4>
						<div class="more">更多<i class="ico4"></i></div>
					</div>
					<div class="module-main evaluate-list">
						<ul>
							<li>
								<div class="img"><img src="./temp/tu1.jpg" width="100%" alt="" /></div>
								<div class="txt">
									<p class="text">车挺好，开到朋友的修配厂看了，一点问题没有，还价格后盖，节省了1万多块…车挺好，开到朋友的修配厂看了，一点问题没有，还价格后盖，节省了1万多块…</p>
									<div class="text-det">
										<span class="wz">2014年11月孟先生购买</span>
										<span class="det">详细<i class="ico8"></i></span>
									</div>
								</div>
							</li>
							<li>
								<div class="img"><img src="./temp/tu1.jpg" width="100%" alt="" /></div>
								<div class="txt">
									<p class="text">车挺好，开到朋友的修配厂看了，一点问题没有，还价格后盖，节省了1万多块…车挺好，开到朋友的修配厂看了，一点问题没有，还价格后盖，节省了1万多块…</p>
									<div class="text-det">
										<span class="wz">2014年11月孟先生购买</span>
										<span class="det">详细<i class="ico8"></i></span>
									</div>
								</div>
							</li>
							<li>
								<div class="img"><img src="./temp/tu1.jpg" width="100%" alt="" /></div>
								<div class="txt">
									<p class="text">就一个字，值！</p>
									<div class="text-det">
										<span class="wz">2014年11月孟先生购买</span>
										<span class="det">详细<i class="ico8"></i></span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="module-box">
					<div class="glb-whole-btn">
						更多热门车源
					</div>
				</div>
			</div>
		</section>
		<footer>
			<ul>
				<li>
					<span class="logo-99haoche"></span>
					<span class="foot-pc">电脑版</span>
				</li>
				<li>
					<span class="logo-iautos"></span>
					<span class="foot-phone">手机版</span>
				</li>
			</ul>
			<p>联系电话：400-666-1612</p>
			<p class="gray">99好车 放心GO 有保证</p>
		</footer>
		<div class="client-box">
			<div class="lang"><img src="./images/lang.png" width="100%" alt="" /></div>
			<div class="dow-ico"><img src="./images/dow-ico.png" width="100%" alt="" /></div>
			<div class="dow-ico1"><a href="#"><img src="./images/dow-ico1.png" width="100%" alt="" /></a></div>
			<i class="del"></i>
		</div>
	</div>
	<i class="return-top" style="bottom: 80px; right: 0px;"></i>
</body>
</html>